body, html {
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #e8e8e8;
  margin-bottom: 150px;
}

header {
  height: 307px;
  width: 100%;
  background-color: #252627;
  color: white;
}

.header-content {
  max-width: 670px;
  height: 195px;
}

#location {
  font-size: 1rem;
  margin-top: 8px;
}

#location-icon {
  color: #00adb2;
  margin-right: 4.5px;
  font-size: 1.1rem;
}

main {
  max-width: 670px;
}

main, .with-semibold > div > :nth-child(2) > :nth-child(2) {
  font-size: 0.875rem;
  font-weight: 400;
}

.centerv {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.centerh {
  margin: 0 auto;
}

h1 {
  font-family: "Roboto Condensed";
  font-size: 2.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  margin:0;
}

h2 {
  margin-top: 47px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 0.875rem;
}

#keywords h2 {
  margin-bottom: 5px;
}
#keywords span {
  border-radius: 5px;
  background-color: #008284;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.37rem;
  padding-bottom: 0.47rem;
  display: inline-block;
  margin-top: 0.625rem;
  margin-right: 0.25rem;
}

.picture {
  margin-right: 43px;
  border-radius: 50%;
  height: 100%;
  float: left;
}

.section-content {
  background-color: white;
  border-color: #d7d8d9;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

.section-content > div {
  margin-top: 18px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #d7d8d9;
}

.section-content > :last-child {
  border-bottom: none;
}

.section-content > div > div {
  margin-top: 15px;
}

.with-semibold > div > :nth-child(2) {
  font-size: 1rem;
  font-weight: 600;
}

.highlight {
  font-weight: 600;
  color: #008284;
}

#footer {
  height: 58px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #d7d8d9;
  background-color: #F5F5F5;
  font-size: 0.875rem;
}

.contact-info {
  text-align: center;
}

.contact-info-line {
  white-space: nowrap;
  margin-right: 22px;
}

.contact-info-icon {
  margin-right: 5px;
  font-size: 1.3rem !important;
}

.contact-info-text {
  position: relative;
  top: -0.25rem;
}

.master-links div {
  margin-top: 3px;
}

a {
  word-wrap: break-word;
  color: black;
  text-decoration: none;
  border-bottom: 1.5px solid #00adb2;
/*   box-shadow: inset 0 -2.5px 0px -1px #00adb2;*/
}

a:hover { color: black; }
a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 1.5px solid #00adb2;
  /* box-shadow: inset 0 -2.5px 0px -1px #00adb2;*/
}

@media screen and (max-width: 702px) {
  .header-content {
    max-width: calc(100vw - 32px);
  }

  main {
    max-width: calc(100vw - 32px);
  }

  .contact-info {
    max-width: calc(100vw - 32px);
  }

  body {
    margin-bottom: 100px;
  }

}

@media screen and (max-width: 510px) {
  main {
    max-width: 100%;
  }

  h2, #keywords {
    margin-left: 16px;
    margin-right: 16px;
  }
  #keywords h2 {
    margin-left: 0;
  }

  .picture {
    float: none;
    height: 170px;
  }

  h1 {
    margin-top: 16px;
  }

  header {
    height: 360px;
  }

  .header-content {
    height: auto;
  }

  .header-content .centerv {
    top: auto;
    position: static;
    transform: none;
  }
}

@media screen and (max-width: 428px) {
  .contact-info {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .contact-info-line {
    display: block;
    margin: 0;
    margin-top: 5px;
  }

  #footer .centerv {
    top: auto;
    position: static;
    transform: none;
  }

  #footer {
    height: auto;
  }

  .contact-info-icon {
    display: none !important;
  }

  .contact-info-text {
    position: static;
    top: auto;
  }
}
